@import "mixins";

.icolor {
  border-radius: 50%;
  padding: 0 6px;
  font-size: 8px;
  margin-right: 5px;
}
.body {
  padding: 40px 0 20px 0;
  width: 100%;
  .body__containerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.145);
    .body__containerFlex {
      width: 37%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        display: flex;
        align-items: center;
        padding: 5px 5px 10px 5px;
        justify-content: center;
        &:hover {
          background-color: #eff1f3;
          border-radius: 5px;
        }
        span {
          margin: 0 10px 0 20px;
          svg {
            display: flex;
            align-items: center;
          }
        }
      }
      .fill {
        border-bottom: 1px solid red;
        .fillspan {
          text-align: center;
          background-color: #eff1f3;
          padding: 2px 5px;
          margin-left: 10px;
          border-radius: 50%;
        }
      }
    }
  }
  .body__containerflexRepoSetting {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;

    .body__containerflexSetting {
      width: 27%;
    }
    .body__containerflexRepo {
      width: 70%;
      .yellow {
        @extend .icolor;
        background-color: #f1e05a;
        color: #f1e05a;
      }
      .red {
        @extend .icolor;
        background-color: #e34c26;
        color: #e34c26;
      }
      .blue {
        @extend .icolor;
        background-color: #3178c6;
        color: #3178c6;
      }
    }
  }
}

@include maxWidth(768px) {
  .body {
    .body__containerHeader {
      .body__containerFlex {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    .body__containerflexRepoSetting {
      flex-direction: column;
      .body__containerflexSetting {
        width: 100%;
      }
      .body__containerflexRepo {
        width: 100%;
      }
    }
  }
}

@include MinMax(769px, 949px) {
  .body {
    .body__containerHeader {
      .body__containerFlex {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
