@import "mixins";

.subHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.145);
  padding-bottom: 20px;
  position: relative;

  .subHeader__searchDiv {
    display: flex;
    align-items: center;
    .subHeader__sortgd {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .subHeader__sortDiv {
        .subHeader__sortparagraph {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 3px 10px;
          background-color: #f3f4f6;
          border-radius: 5px;
          margin-left: 5px;
          i {
            display: flex;
            align-items: center;
            margin-left: 5px;
          }
        }
      }
      .subHeader__btnDiv {
        p {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 3px 10px;
          background-color: #1a7f37;
          color: white;
          border-radius: 5px;
          margin-left: 5px;
          i {
            display: flex;
            align-items: center;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .showtype {
    transform: scaleY(1);
  }
}

.type {
  background-color: white;
  color: black;
  border-radius: 5px;
  position: absolute;
  right: 30%;
  z-index: 1;
  width: 40%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  transition: 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
  .type__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    font-size: 13px;
    padding: 10px;
  }
  .type__check {
    border-top: 1px solid rgba(0, 0, 0, 0.145);
    &:hover {
      background-color: #f3f4f6;
    }
    span {
      margin-left: 18px;
    }
  }
}

.langauage {
  right: 17%;
}

.sort {
  right: 9%;
}

@include maxWidth(500px) {
  .subHeader {
    .subHeader__searchDiv {
      .subHeader__sortgd {
        margin-top: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
  }
}
@include MinMax(600px, 949px) {
  .subHeader {
    .subHeader__searchDiv {
      .subHeader__sortgd {
        margin-top: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }
    }
  }
}
@include maxWidth(768px) {
  .subHeader {
    .subHeader__searchDiv {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .type {
    width: 100%;
    right: 0;
  }
  .langauage {
    right: 0%;
  }

  .sort {
    right: 0%;
  }
}
@include MinMax(769px, 949px) {
  .subHeader {
    .subHeader__searchDiv {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .subHeader__sortgd {
        margin-top: 20px;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
}
